.tr-combobox {
  display: flex;
  background-color: white;
  border: @tr-border;
  border-radius: @tr-border-radius;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  .tr-component-focus;
  &.open {
    border-radius: @tr-border-radius @tr-border-radius 0 0;
  }
  &.open.dropdown-flipped {
    border-radius: 0 0 @tr-border-radius @tr-border-radius;
  }
  &, * {
    box-sizing: border-box;
  }
}

.tr-combobox-selected-entry-wrapper {
  flex: 1 1 auto;
  overflow: hidden;

  .tr-combobox-entry * {
    cursor: text;
  }
}

.tr-combobox-edit-input {
  width: 0;
  height: 0;
  position: absolute;
  border: none;
  padding: 0 0;
  outline: none;
  background-color: white;
  z-index: 1;
  font-family: @tr-editor-font-family;
  font-size: @tr-editor-font-size;
}
