.tr-combobox-selected-entry-wrapper {
  flex: 1 1 auto;
  overflow: hidden;

  .tr-combobox-entry * {
    cursor: text;
  }
}

.tr-combobox-edit-input {
  width: 0;
  height: 0;
  position: absolute;
  border: none;
  padding: 0 0;
  outline: none;
  background-color: white;
  z-index: 1;
  font-family: @tr-editor-font-family;
  font-size: @tr-editor-font-size;
}
