.tr-tagbox-tagarea {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1px;
  overflow: hidden;
}

.tr-tagbox-tag {
  flex: 0 0 auto;
}

.tr-tagbox-default-wrapper-template {
  border: 1px solid #BAD2EA;
  border-radius: 3px;
  box-shadow: 1px 2px 1px -1px rgba(0, 0, 0, 0.13);
  background-color: white;
  margin: 2px;

  display: flex;
  align-items: center;

  .tr-tagbox-tag-content {
    flex: 1 1 auto;
    padding: 0 1px;
  }

  .tr-tagbox-tag-remove-button {
    flex: 0 0 15px;
    width: 15px;
    height: 15px;
    text-align: center;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAUklEQVQYV2NkgAAfBgaGLVA2MgUWZ4Qq2AyVAfFh4D+U4QsThAmAxE0YGBjOIClmxKYT2TqwPLIiYzQTQCaeRVeEbCXMNBSTCLoJ5E2ifIc3nADKqBCiWqOKtgAAAABJRU5ErkJggg==);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    margin: 2px;

    .tr-input-wrapper.disabled &,
    .tr-input-wrapper.readonly & {
      display: none;
    }

    &:hover {
      background-color: rgba(0,0,0,.06);
    }
  }
}

.tr-tagbox-editor {
  flex: 1 0 auto;
  min-width: 10px;
  max-width: 100%;
  outline: none;
  margin: 2px;
  font-family: @tr-editor-font-family;
  font-size: @tr-editor-font-size;
  min-height: 1em;

  &:first-child:not(:focus):empty:before {
    content: attr(placeholder);
    color: @tr-disabled-text-color;
  }
}
