.tr-original-input {   // TODO: prefix?? (also used in combobox)
  tab-index: -1;
  display: none;
}

.tr-tagbox {
  display: flex;
  background-color: white;
  border: @tr-border;
  border-radius: @tr-border-radius;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  .tr-component-focus;
  &.open {
    border-radius: @tr-border-radius @tr-border-radius 0 0;
  }
  &.open.dropdown-flipped {
    border-radius: 0 0 @tr-border-radius @tr-border-radius;
  }
  &, * {
    box-sizing: border-box;
  }
}

.tr-tagbox-tagarea {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1px;
}

.tr-tagbox-tag {
  flex: 0 0 auto;
  border: @tr-border;
  border-radius: 3px;
  background-color: @tr-button-bg;
  margin: 2px;

  display: flex;
  align-items: center;

  .tr-tagbox-tag-content {
    flex: 1 1 auto;
  }

  .tr-tagbox-tag-button {
    flex: 0 0 15px;
    width: 15px;
    height: 15px;
    text-align: center;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAUklEQVQYV2NkgAAfBgaGLVA2MgUWZ4Qq2AyVAfFh4D+U4QsThAmAxE0YGBjOIClmxKYT2TqwPLIiYzQTQCaeRVeEbCXMNBSTCLoJ5E2ifIc3nADKqBCiWqOKtgAAAABJRU5ErkJggg==);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    margin: 2px;

    &:hover {
      background-color: rgba(0,0,0,.06);
    }
  }
}

.tr-tagbox-editor {
  flex: 1 0 auto;
  min-width: 10px;
  max-width: 100%;
  outline: none;
  margin: 2px;
  font-family: @tr-editor-font-family;
  font-size: @tr-editor-font-size;
}

.tr-tagbox-trigger {    // TODO this is common to different components...
  @tr-caret-width: 4px;
  order: 9999999;
  flex: 0 0 20px;
  width: 20px;
  border-left: @tr-border;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @tr-button-bg;

  .tr-tagbox-trigger-icon {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: @tr-caret-width solid black;
    border-right: @tr-caret-width solid transparent;
    border-left: @tr-caret-width solid transparent;
  }

  &:hover, .tr-tagbox.open & {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.tr-tagbox-dropdown {  // TODO common!!
  display: none;
  position: absolute;
  background-color: white;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  border: @tr-border;
  border-top: none;
  border-radius: 0 0 @tr-border-radius @tr-border-radius;
  min-height: 30px;
  z-index: 1;

  &.flipped {
    border-radius: @tr-border-radius @tr-border-radius 0 0;
    border-top: @tr-border;
    border-bottom: none;
  }

  .tr-tagbox-entry.tr-highlighted-entry {
    background-color: @tr-highlight-color;
  }
}

.tr-search-highlighted {   // TODO common!!
  background-color: rgba(244, 195, 125, 0.7);
  border-radius: 3px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.tr-hidden {  // TODO common!!
  display: none !important;
}


