.tr-tree {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  border: @tr-border;
  border-radius: @tr-border-radius;

  &.focus {
    .tr-component-focus();
  }

  .tr-tree-edit-input {
    flex: 0 0 auto;
    border-width: 0 0 1px 0;
    border-bottom: @tr-border;
    border-radius: @tr-border-radius @tr-border-radius 0 0;
    font-family: @tr-editor-font-family;
    font-size: @tr-editor-font-size;
    padding: 6px;
    outline: none;
  }

  &.no-searchfield {
    overflow: hidden;
    position: relative;
    .tr-tree-edit-input {
      position: absolute;
      z-index: -1000;
      top: -1px;
      font-size: 1px;
      padding: 0;
      border: none;
      opacity: 0;
    }
  }

  .tr-tree-entryTree {
    flex: 1 1 300px;
    overflow: auto;
    position: relative;
  }

  .tr-tree-entry-outer-wrapper {
    > .tr-tree-entry-and-expander-wrapper {
      display: flex;
      align-items: center;

      .tr-indent-spacer {
        width: 29px;
        flex: 0 0 29px;
      }

      .tr-tree-expander {
        flex: 0 0 15px;
        width: 15px;
        height: 15px;
        margin: 7px;
      }

      .tr-tree-entry {
        flex: 1 1 auto;
      }
    }

    &.has-children > .tr-tree-entry-and-expander-wrapper > .tr-tree-expander {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAMklEQVQYV2NkIAIwIqn5D2Uji4GF0AWwKsTQxcDAgKEQmyKQDSgKyTKJoJuI9h3WUAMAntIHCtDLLc8AAAAASUVORK5CYII=);
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 0.1s;
      cursor: pointer;
    }

    &.expanded > .tr-tree-entry-and-expander-wrapper > .tr-tree-expander {
      transform: rotate(0.25turn);
    }

    > .tr-tree-entry-children-wrapper {
      padding-left: 0;
      display: none;
    }

    //&.expanded > .tr-tree-entry-children-wrapper {
    //  display: block;
    //}
  }


}
