.tr-treebox {
  .tr-tree-edit-input {
    flex: 0 0 auto;
    border-width: 0 0 1px 0;
    border-bottom: @tr-border;
    border-radius: @tr-border-radius @tr-border-radius 0 0;
    font-family: @tr-editor-font-family;
    font-size: @tr-editor-font-size;
    padding: 6px;
    outline: none;
  }

  .tr-tree-entryTree {
    flex: 1 1 300px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
  }

  .tr-tree-entry-outer-wrapper {
    > .tr-tree-entry-and-expander-wrapper {
      display: flex;
      align-items: center;

      .tr-indent-spacer {
        width: 29px;
        flex: 0 0 29px;
      }

      .tr-tree-expander {
        flex: 0 0 15px;
        width: 15px;
        height: 15px;
        margin: 7px;
      }

      .tr-tree-entry {
        flex: 1 1 auto;
      }
    }

    &.isLeaf-false > .tr-tree-entry-and-expander-wrapper > .tr-tree-expander {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAMklEQVQYV2NkIAIwIqn5D2Uji4GF0AWwKsTQxcDAgKEQmyKQDSgKyTKJoJuI9h3WUAMAntIHCtDLLc8AAAAASUVORK5CYII=);
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 0.1s;
      cursor: pointer;
    }

    &.expanded > .tr-tree-entry-and-expander-wrapper > .tr-tree-expander {
      transform: rotate(0.25turn);
    }

    > .tr-tree-entry-children-wrapper {
      padding-left: 0;
      display: none;
    }

    &.expanded > .tr-tree-entry-children-wrapper {
      display: block;
    }
  }
}