@tr-border: 1px solid #ccc;
@tr-border-radius: 4px;
@tr-input-border-focus: #66afe9;
@tr-button-bg: rgba(0, 0, 0, 0.05);
@tr-button-bg-active: rgba(0, 0, 0, 0.1);
@tr-editor-font-family: sans-serif;
@tr-editor-font-size: 14px;
@tr-highlight-color: rgba(0, 120, 255, 0.2);
@tr-select-color: rgba(0, 120, 255, 0.4);
@tr-input-min-height: 30px;