<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                <img class="navbar-logo" src="img/logo.png"/>Trivial Components
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="@@if (activeNavLink === 'home') {active}"><a href="index.html">Home</a></li>
                <li class="dropdown @@if (activeNavLink === 'showcase') {active}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Components <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="comboBox.html">TrivialComboBox <span class="badge alert-info">beta</span></a></li>
                        <li><a href="tagBox.html">TrivialTagBox <span class="badge alert-info">beta</span></a></li>
                        <li><a href="tree.html">TrivialTree <span class="badge alert-danger">alpha</span></a></li>
                        <li><a href="#"><span class="text-muted">TrivialList</span> <span class="badge">todo</span></a></li>
                    </ul>
                </li>
                <li><a href="https://github.com/trivial-components/trivial-components/releases">Download</a></li>
                <li><a href="https://github.com/trivial-components/trivial-components">Github</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>